# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

data/standardization_files/*.csv
data/intermediate_files/*.csv
data/qc_files/*.csv
data/event_files/*.csv
data/template_files/*.csv
data/stashed_files/*.csv

data/standardization_files/*.rds
data/intermediate_files/*.rds
data/qc_files/*.rds
data/event_files/*.rds
data/template_files/*.rds
data/stashed_files/*.rds

data/standardization_files/*.parquet
data/intermediate_files/*.parquet
data/qc_files/*.parquet
data/event_files/*.parquet
data/template_files/*.parquet
data/stashed_files/*.parquet

*.html

#checkto see if push/pull is working

